<picture>
    <source srcset="..." type="image/svg+xml">
    <img src="..." class="img-fluid img-thumbnail" alt="...">
</picture>
<dl class="row">

    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">
        <inline-editor type="text" [(ngModel)]="usuario.correo" (onBlur)="saveEditable($event)" [onlyValue]="true" [saveOnBlur]="true">>
        </inline-editor>
    </dd>
    <dt class="col-sm-3">Puesto</dt>
    <dd class="col-sm-9">
    </dd>
    <dt class="col-sm-3">Numero</dt>
    <dd class="col-sm-9">
        <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
        <p>Donec id elit non mi porta gravida at eget metus.</p>

    </dd>

    <dt class="col-sm-3">Correo</dt>
    <dd class="col-sm-9">{{ usuario.email}}</dd>

    <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
    <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

    <dt class="col-sm-3">Posicion</dt>
    <dd class="col-sm-9">
        <dl class="row">
            <dt class="col-sm-4">Nested definition list</dt>
            <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
        </dl>
    </dd>

</dl>