<div class="todos">
    <table class="table">
        <thead class="h">
            <tr class="h">
                <th class="h">titulo</th>
                <th class="h">Descripcion</th>
                <th class="h">Fecha</th>
                <th class="h">Estado</th>
                <th class="h">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="todo" (dblclick)="editTodo(todo)" *ngFor="let todo of todosList">

                <ng-container *ngIf="!editTodos.includes(todo); else editTD">
                    <td>{{todo.titulo}}</td>
                    <td>{{todo.descripcion}}</td>
                    <td>{{todo.fecha | date}}</td>
                    <td>{{todo.estado}}</td>
                </ng-container>

                <ng-template #editTD>
                    <td><input type="text" name="titulo" id="titulo" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.titulo" placeholder="titulo" class="form-control"></td>
                    <td><input type="text" name="descripcion" id="descripcion" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.descripcion" placeholder="Descripcion" class="form-control"></td>
                    <td>{{todo.fecha | date}}</td>
                    <td>
                        <input type="text" name="status" id="status" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.estado" placeholder="estado" class="form-control">
                    </td>
                </ng-template>

                <td class="o">
                    <button class="btn btn-success" (click)="doneTodo(todo)">
                  <i  class="fa fa-check"></i>
                </button>
                    <button class="btn btn-success" (click)="incompleto(todo)">
                    <i  class="fa fa-times-circle"></i>
                  </button>
                    <button class="btn btn-primary" (click)="editTodo(todo)">
                    <i  class="fa fa-pencil"></i>
                  </button>
                    <button class="btn btn-danger" (click)="deleteTodo(todo)">
                    <i  class="fa fa-trash"></i>
                  </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>


<form>
    <div class="form-row">

        <div class="col-md-5">
            <input type="text" name="title" id="title" [(ngModel)]="newTodo.titulo" placeholder="titulo" class="form-control">
        </div>
        <div class="col-md-5">
            <input name="description" id="description" [(ngModel)]="newTodo.descripcion" placeholder="info" class="form-control" id="description">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" (click)="create()">Agregar</button>
        </div>
    </div>
</form>

<p>{{todosList | json }}</p>