<header>
    <div class="page">
        <br>
        <img src="../../../assets/images/logo-text.png" alt="" srcset="">
        <div class="datos">

            <h1 class="title">Encuesta de satisfacion</h1>
            <div class="info">
                <button class="btninfo">informacion de datos personales</button></div>
        </div>
    </div>
</header>
<br>
<br>
<app-survey [json]="json3" (submitSurvey)="guardar($event)"></app-survey>

<section class="newone">
    <div class="row">

    </div>


</section>