<header>
    <div class="page">
        <br>
        <img src="../../../assets/images/logo-text.png" alt="" srcset="">
        <div class="datos">

            <h1 class="title">Encuesta de satisfacion</h1>
            <div class="info">
                <button class="btninfo">informacion de datos personales</button></div>
        </div>
    </div>
</header>
<br>
<br>
<section class="newone">
    <div class="row">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus quae earum at. Rerum saepe laborum porro sapiente inventore, beatae aspernatur adipisci voluptatibus est, repellat eligendi quidem sit. Error, impedit inventore.</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus quae earum at. Rerum saepe laborum porro sapiente inventore, beatae aspernatur adipisci voluptatibus est, repellat eligendi quidem sit. Error, impedit inventore.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus quae earum at. Rerum saepe laborum porro sapiente inventore, beatae aspernatur adipisci voluptatibus est, repellat eligendi quidem sit. Error, impedit inventore.</p>


    </div>


</section>