<app-survey-editor [json]="json" (surveySaved)="onSurveySaved($event)"></app-survey-editor>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h1> Crea y distribuyes los cuestionarios </h1>
                <a class="btn btn-block btn-lg btn-success" href="">Crear</a>

                <a class="btn btn-block btn-lg btn-success" href="">Distribuir</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="graficos.grafico1.leyenda" [doughnutChartType]="graficos.grafico1.type" [doughnutChartData]="graficos.grafico1.data" [doughnutChartLabels]="graficos.grafico1.labels"></app-grafico-dona>

            </div>

        </div>

    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [leyenda]="graficos.grafico2.leyenda" [doughnutChartType]="graficos.grafico2.type" [doughnutChartData]="graficos.grafico2.data" [doughnutChartLabels]="graficos.grafico2.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>