<div id="resultsTable" class="well">
    <h3>Survey Results</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre encuesta</th>
                <th scope="col">Compania</th>
                <th scope="col">hecha el dia</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: { data: koItems, as: 'item' } -->
            <tr>
                <th scope="row" data-bind="text:item.id"></th>
                <td data-bind="text:item.name"></td>
                <td data-bind="text:item.company"></td>
                <td data-bind="text:item.postedAt"></td>
                <td>
                    <button data-bind="click: $parent.showSurveyResult">mostrar resultados</button>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
<!-- Modal -->
<div id="surveyResultModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:800px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 id="surveyResultModalTitle" class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div id="surveyElement"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>