<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">


                <!--  <li *ngFor="let inicio of _sidebar.menuCuenta" class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">{{inicio.usuario}} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor=""><a href="javascript:void()">Mi cuenta </a></li>
                        <li>
                            <a href="javascript:void()"></a>
                        </li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li>
                            <a href="javascript:void()"></a>
                        </li>
                        <li><a>Salir</a></li>
                    </ul>
                </li> -->
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <!--Ciclo for con angular -->
                <li *ngFor="let i of _sidebar.menuEmpleados "> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">{{ i.titulo }} <span class="label label-rouded label-themecolor pull-right">{{i.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let m of i.submenu">
                            <a routerLinkActive="active" [routerLink]="[m.url] "> {{m.titulo}} </a></li>
                    </ul>

                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let m of i.empleados">
                            <a routerLinkActive="active" [routerLink]="[m.url] "> {{m.nombre}} </a></li>
                    </ul>
                </li>

                <li *ngFor="let i of _sidebar.Reportes "> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">{{ i.titulo }} <span class="label label-rouded label-themecolor pull-right">{{i.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let m of i.submenu">
                            <a routerLinkActive="active" [routerLink]="[m.url] "> {{m.titulo}} </a></li>
                    </ul>

                </li>

                <li *ngFor="let i of _sidebar.Clientes "> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">{{ i.titulo }} <span class="label label-rouded label-themecolor pull-right">{{i.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let m of i.submenu">
                            <a routerLinkActive="active" [routerLink]="[m.url] "> {{m.titulo}} </a></li>
                    </ul>

                </li>
                <li *ngFor="let i of _sidebar.Encuestas "> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">{{ i.titulo }} <span class="label label-rouded label-themecolor pull-right">{{i.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let m of i.submenu">
                            <a routerLinkActive="active" [routerLink]="[m.url] "> {{m.titulo}} </a></li>
                    </ul>

                </li>







            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->