
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
<app-grafico-dona ></app-grafico-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-grafico-dona [leyenda]="graficos.grafico1.leyenda" [doughnutChartType]="graficos.grafico1.type" [doughnutChartData]="graficos.grafico1.data" [doughnutChartLabels]="graficos.grafico1.labels"></app-grafico-dona>

      </div>

    </div>

  </div>

</div>
