<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="graficos.grafico1.leyenda" [doughnutChartType]="graficos.grafico1.type" [doughnutChartData]="graficos.grafico1.data" [doughnutChartLabels]="graficos.grafico1.labels"></app-grafico-dona>

            </div>

        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <h5>Usuarios</h5>
            <mat-list>
                <mat-list-item>
                    <img matListAvatar src="..." alt="...">
                    <h3 matLine> </h3>
                    <p matLine>
                        <span>  </span>
                        <span class="demo-2">hola </span>
                    </p>
                </mat-list-item>
            </mat-list>

        </div>

    </div>
    <div class="col-md-9">
        <div class="card">
            <h1>Actividades por hacer</h1>
            <p>este es un panel global todo ven esta informacion</p>
            <app-tarea></app-tarea>


        </div>

    </div>
    <!-- 
    <div class="col-md-4 col-sm-4 col-xs-5">
        <h2>Mis Apuntes</h2>
        <form method="post">
            <div class="form-group ">
                <label class="control-label " for="name">
              Nombre de la nota
            </label>
                <input class="form-control" id="name" name="name" type="text" />
            </div>
            <div class="form-group ">
                <label class="control-label " for="message">
              Nota
            </label>
                <textarea class="form-control" cols="20" id="message" name="message" rows="10"></textarea>
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary " name="submit" type="submit">
                Submit
              </button>
                </div>
            </div>
        </form>
    </div>
</div> -->